streamlit>=1.38.0            # Framework de UI web en Python
pandas>=2.2.2               # Manejo de DataFrames y fechas
openpyxl>=3.1.5              # Lectura de Excel local
altair>=5.0.0                # Graficación declarativa
openai==2.8.1                 # Asistente GPT en análisis de actos
google-api-python-client==2.149.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
gspread==6.1.2
schedule==1.2.1
google-api-python-client>=2.146.0
streamlit-authenticator==0.3.2
PyYAML>=6.0
streamlit-authenticator==0.3.2
bcrypt>=4.1.2
PyYAML>=6.0
openai==2.8.1


